In [1]:
import numpy as np
import pandas as pd

In [2]:
hotel = pd.read_csv('E:\Coursera\Portfolio projects\Data cleaning using Python\hotel_bookings.csv')

In [3]:
hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
hotel.shape

(119390, 32)

In [5]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### 1. Converting datatype of “reservation_status_date” from object to DateTime

In [6]:
hotel['reservation_status_date'] = pd.to_datetime(hotel['reservation_status_date'])

In [8]:
hotel['reservation_status_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 119390 entries, 0 to 119389
Series name: reservation_status_date
Non-Null Count   Dtype
--------------   -----
119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 932.9 KB

### 2. Creating a new column by combining the year, month, and date of arrival together

In [9]:
hotel['Arrival date'] = pd.to_datetime(hotel.arrival_date_year.astype(str) + '/' + hotel.arrival_date_month.astype(str) + '/' + hotel.arrival_date_day_of_month.astype(str))

In [11]:
hotel['Arrival date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: Arrival date, Length: 119390, dtype: datetime64[ns]

### 3. Find the number of missing values in every column

In [14]:
np.sum(hotel.isnull()).sort_values(ascending= False)

company                           112593
agent                              16340
country                              488
children                               4
hotel                                  0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
days_in_waiting_list                   0
previous_bookings_not_canceled         0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
reserved_room_type                     0
is_repeated_guest                      0
previous_cancellations                 0
is_canceled                            0
distribution_channel                   0
market_segment                         0
meal                                   0
babies                                 0
adults                                 0
stays_in_week_nights                   0
stays_in_weekend_nights                0
arrival_date_day_of_month              0
arrival_date_week_number               0
arrival_date_month                     0
arrival_date_year                      0
lead_time                              0
Arrival date                           0
dtype: int64

### 4. Find the indices of missing value

In [15]:
hotel.children[hotel.children != hotel.children].index.values

array([40600, 40667, 40679, 41160], dtype=int64)

### 5. Remove unwanted columns

In [16]:
for col in hotel.columns:
    if np.sum(hotel[col].isnull())>(hotel.shape[0] * 0.7):
        hotel.drop(columns= col, inplace=True, axis =1)
print(hotel.shape)

(119390, 32)

- The company column is removed as it has more than 70 percent empty columns

In [17]:
hotel.drop(columns=["arrival_date_week_number", "arrival_date_year","arrival_date_month", "arrival_date_day_of_month"], inplace=True, axis=1)

In [18]:
hotel.shape

(119390, 28)

### 6. Remove unwanted rows

In [19]:
hotel.dropna(subset=["agent"], inplace=True)
hotel.shape

(103050, 28)

### 7. Fill missing values of columns

In [20]:
hotel['children'].fillna(value = hotel['children'].mean(), inplace=True)
hotel['children'] = hotel['children'].apply(np.floor)
np.sum(hotel.children.isnull())

0

In [21]:
arr = ["market_segment", "distribution_channel", "meal", "country"]
for x in arr:
    hotel[x].fillna(method="bfill", inplace = True)

In [22]:
np.sum(hotel.isnull())

hotel                             0
is_canceled                       0
lead_time                         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
Arrival date                      0
dtype: int64

- There are no null values